[user]
	email = michael@rebelhold.com
	name = Michael Christenson II
[alias]
	st = status
  lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit"
