[alias]
  st = status
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[user]
  email = Michael.Christenson.II@ibm.com
  name = Michael Christenson II
